:root {
    --background: #0f1a20;
    --primary: #49beea;
    --secondary: #ffe787;
    --tertiary: #ada8b6;
    --accent: #b76d68;
    --font-color: #fff;
    --font-family: 'Open Sans', sans-serif;
    --font-light: 300;
    --font-medium: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;
    --font-size-base: 1rem;
    --font-size-small: 0.75rem;
    --font-size-h1: 2.32rem;
    --font-size-h2: 1.98rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
}

body {
    background: var(--background);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: 1.5;
}

#container {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1 {
    color: var(--primary);
    font-size: var(--font-size-h1);
    font-weight: var(--font-extra-bold);
    text-align: center;
    margin: 0 0 1.5rem;
}

h2 {
    color: var(--secondary);
    font-size: var(--font-size-h2);
    font-weight: var(--font-bold);
    margin: 0 0 1.5rem;
}

h3 {
    color: var(--secondary);
    font-size: var(--font-size-h3);
    font-weight: var(--font-semi-bold);
    margin: 0 0 1.5rem;
}

h4 {
    color: var(--secondary);
    font-size: var(--font-size-h4);
    font-weight: var(--font-semi-bold);
    margin: 0 0 1.5rem;
}

strong {
    color: var(--primary);
    font-weight: var(--font-medium);
    font-size: 1.333rem;
    padding-left: 0.8rem;
}

p,
article {
    color: var(--font-color);
    font-size: var(--font-size-base);
    font-weight: var(--font-light);
    margin: 0 0 1.5rem;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:visited {
    text-decoration: underline;
}

figure {
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
}

figure>p {
    color: var(--tertiary);
    font-size: var(--font-size-small);
    font-weight: var(--font-semi-bold);
    margin: 0 0 1rem;
}

img {
    height: auto;
    width: 28em;
}

::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-track-piece:horizontal {
    opacity: 0;
    background-color: var(--primary);
}

::-webkit-scrollbar-thumb:horizontal {
    height: 1em;
    background-color: var(--primary);
}

.About-Interview-Block {
    display: flex;
    border-right: 2px solid var(--tertiary);
    border-bottom: 1px solid var(--tertiary);
    flex-flow: column nowrap;
    margin-bottom: 4rem;
    margin: 2em;
    padding: 4em;
}

.About-Interview quote {
    font-weight: var(--font-semi-bold);
    color: var(--accent);
    align-self: flex-end;
}

.Nav-Links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: .5em;
    text-align: center;
}

.Image-Extra-Small {
    height: auto;
    width: 8em;
}

.Image-Small {
    height: auto;
    width: 20em;
}

.Image-Large {
    height: auto;
    width: 32em;
}

.Image-Tall {
    height: 20em;
    width: auto;
}

.Image-Active {
    border: 1px solid var(--accent);
}

.Timeline-Dot-Container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: relative;
    left: 0;
    top: 34.5em;
}

.Timeline-Dot {
    height: 2em;
    width: 2em;
}

.Timeline-Dot-Active {
    height: 3em;
    width: 3em;
    z-index: 3;
}

.Topic-Content {
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}


.Timeline-Controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem 1rem;
    /* position: relative;
    left: 0;
    top: 64em; */
}

.Timeline-Controls-Button {
    display: flex;
    place-items: center;
    background: var(--secondary);
    color: var(--background);
    border: none;
    border-radius: .25em;
    height: 3em;
    width: 8em;
    font-size: var(--font-medium);
}


.Timeline-Controls-Backward {
    transform: rotate(180deg);
    height: 2em;
    width: 2em;
    margin-right: .5em;
}

.Timeline-Controls-Forward {
    height: 2em;
    width: 2em;
    margin-left: .5em;
}

.Timeline-Carousel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 0 1.5rem;
    width: 100%;
    align-self: flex-end;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 2em;
}

.Hobbies-Image-Display {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.Hobby img {
    height: auto;
    width: 16em;
}

.Hobby-Active img {
    height: auto;
    width: 20em;
    border: 4px solid var(--accent);
    padding: 1em;
}

.Footer-Links {
    display: flex;
    flex-flow: row wrap;
    place-content: space-around;
    position: relative;
    bottom: 0;
}